.component-x {
    border: 1px solid black;
    width: 500px;
    margin-top: 10px;
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d6b7f3;
    padding: 7px;
}

.pointer {
    cursor: pointer;
}