.indexInput {
    width: 200px;
    height: 30px;
}

button {
    height: 30px;
    width: 60px;
    background-color: rgb(66, 66, 211);
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
}